<app-navigation-bar></app-navigation-bar>
<div class="container">
    <div class="content">
        <h1>Welcome, <span>Katlego!</span></h1>
        <button routerLink="/scan">Scan Ingredient</button>
    </div>
    <p>Welcome to our innovative recipe app! Discover a world of culinary possibilities by scanning your ingredients. Our App identifies your pantry items and suggests delicious recipes tailored to your tastes. Whether you're a seasoned chef or a kitchen novice, our app helps you explore new dishes, track your cooking journey, and compete with friends and family. Enjoy personalized recommendations, easy-to-follow recipes, and a fun, gamified cooking experience. Get ready to transform your meals and elevate your cooking skills!</p>
    <div class="sections">
        <a routerLink="#" active>Recent Activity</a>
        <a routerLink="#">Featured Recipes</a>
        <a routerLink="#">Leaderbaord</a>
    </div>
    <div class="screen">
        <!-- <div class="activity-list">
            <div class="activity-list">
                <p>It looks like you haven't scanned any ingredients yet. Start scanning to see your recent activities here!</p>
                <button onclick="startScanning()">Start Scanning</button>
            </div>
          </div> -->
    </div>
</div>