/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans';
}

.see-more{
    background-color: #03ac13;
    padding: 12px 60px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
}